/* Universal Styles */

html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}

.container {
  max-width: 1366px;
  max-height: 1080px;
  margin: auto;
}

/* Company Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  height: 2rem;
  align-items: center;
  padding-left: 1.5rem;
}

.title {
  display: flex;
  font-weight: bold;
}

.title-a {
  color: dimgray;
}

.title-b {
  color: lightgray;
}

nav {
  padding-right: 1.5rem;
}

li {
  display: inline;
  color: dimgray;
  padding-right: 1rem;
}

.alt-heading {
  display: none
}

@media only screen and (max-width: 760px) {
  .header ul {
    display: none;
  }

  .title {
    display: none;
  }

  .logo img {
    display: none;
  }

  nav {
    padding-right: 0;
  }

  .logo {
    padding-left: 0;
  }

  .alt-heading {
    display: block;
    width: 100%;
  }

  .alt-heading ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* Main Banner */

.banner-container {
  display: flex;
  max-height: 45rem;
  background-color: lightgray;
}

.banner {
  display: flex;
  align-items: center;
}

.banner img {
  max-width: 60%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}

.banner-text {
  max-width: 24%;
  color: dimgray;
  font-weight: bold;
  line-height: 1.2;
  margin-left: 1.5rem;
}

.banner-button {
  max-width: 86%;
  margin-top: 1rem;
  background-color: dimgray;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}

.info h1 {
  font-size: 2rem;
}

.info p {
  padding-top: 1rem;
}

@media only screen and (max-width: 760px) {
  .banner {
    display: block;
  }

  .banner-text {
    max-width: 100%;
    margin: 0;
    padding: 2rem 1rem;
  }

  .info p {
    padding-top: 2rem;
  }

  .banner-button {
    margin-top: 1.5rem;
  }

  .banner img {
    max-width: 100%;
    margin: 0;
  }
}

/* 2nd Banner */

.banner-container-2 {
  display: flex;
  max-height: 45rem;
  background-color: white;
}

.banner-info {
  max-width: 60%;
  color: dimgray;
  margin-top: 2rem;
  margin-left: 1.5rem;
  line-height: 1.2;
}

.banner-info img {
  max-width: 100%;
}

.banner-info h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top:2rem;
}

.banner-info p {
  padding-top: 1.5rem;
}

.contact {
  padding-top: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.banner-info-column {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.row {
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.row img {
  height: auto;
  width: 35%;
  margin: 1rem;
}

.row-text {
  color: dimgray;
  width: 65%;
}

.row-text h1 {
  font-weight: bold;
}

.row-text p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

p a {
  color: cornflowerblue;
}

.guest {
  background-color: lightgray;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  .omit-mobile {
    display: none;
  }

  .banner-container-2 {
    max-height: 63rem;
  }

  .banner-info-column {
    max-width: 100%;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
   }

   .row img {
     display: none;
   }

   .mobile {
     display: block;
     width: 100%;
   }

   .mobile img {
     width: 92%;
     margin: 1rem;
   }

   .row-text {
     margin-top: 0;
     padding-left: 2rem;
   }

   .guest {
     margin-top: 0rem;
     background-color: white;
   }
}

/* Start Learning */

.learning-container {
  display: flex;
  flex-direction: column;
  max-height: 55rem;
  color: dimgray;
  background-color: lightgray;
}

.learning-heading {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.learning {
  display: flex;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom: 2rem;
}

.learning-column {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  line-height: 1.2;
}

.column-a {
  background-color: white;
}

.column-a img {
  height: auto;
  width: 100%;
}

.column-text {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.column-text h1 {
  font-weight: bold;
}

.column-text p {
  padding-top: 0.5rem;
}

.column-b {
  margin-top: 2rem;
  background-color: white;
}

.column-b img {
  height: auto;
  width: 100%;
}

.mobile-container {
  display: none;
}

.left-margin {
  margin-left: 2rem;
}

@media only screen and (max-width: 760px) {
  .learning-heading {
    padding-bottom: 1rem;
  }

  .learning {
    display: none;
  }

 .mobile-container {
   display: block;
   margin-left: 1rem;
   margin-right: 1rem;
   margin-bottom: 2rem;
  }

 .mobile-container h1 {
   padding-left: 1rem;
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   margin-top: .5rem;
   background-color: lightgray;
  }

 .learning-container {
   background-color: white;
 }
}

/* Thesis exhibit */

.thesis-heading {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  color: dimgray;
}

.exhibit {
  display: flex;
  flex-direction: column;
}

.thesis-content {
  display: flex;
  margin-bottom: 2rem;
}

.thesis-content .banner-info h1 {
  padding-top: 1.5rem;
}

.thesis-content .banner-info p {
  padding-top: .5rem;
}

.top-margin {
  margin-top: 0rem;
}

.banner-info video {
  width: 100%;
}

.prototype {
  background-color: lightgray;
}

@media only screen and (max-width: 760px){
  .thesis-heading {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .top-margin {
    max-width: 100%;
  }

  .banner-info {
    margin-left: 0rem;
  }

  .thesis-content {
    margin-bottom: 1.5rem;
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  color: dimgray;
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 760px) {
  .privacy {
    display: none;
  }

  .footer p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
